*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #40413b;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
}

.layout {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffdf0;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
  border: 10px solid #d9dfc6;
  padding: 40px;
  border-radius: 20px;
  background-color: #eff3ea;
}

.game__title {
  font-size: 48px;
  font-weight: 700;
}

.game__display-results {
  min-height: 72px;
}

.game__choices {
  display: flex;
  gap: 30px;
}

.game__choice {
  max-width: 200px;
}

.game__choice:hover {
  cursor: pointer;
  transform: scale(1.1);
}
